/*Styling body and elements*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  border-right: 1px solid black;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.schedule {
  padding: 10px;
  height: 100%;
  width:100%;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-right: 1px solid black;
}

/*Styling for timeblock boxes*/
.past {
  background-color: #d3d3d3;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.present {
  background-color: #ff6961;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.future {
  background-color: #77dd77;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*Styling for Save Button*/
.saveBtn {
  display: flex; 
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  text-align: center;
  
}

.fa-save {
  pointer-events: none;
}

/*Styling for Clear button*/
#clearBtndiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#clearBtn {
  background-color: rgb(75, 74, 74);
  color: white;
  font-size: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  margin-top: 20px;

}
